@font-face {
	font-family: "Robotomono";
	src: url(./fonts/Roboto-Thin.ttf);
}
* {
	font-family: "Robotomono", monospace;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	text-align: center;

	color: #fff;
	background: linear-gradient(to right, #00b09b5d, #96c93d75);
}

h2 {
	margin-bottom: 20px;
	color: #696b6b;
	font-family: Robotomono;
}
